@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@1,8..144&family=Rock+Salt&display=swap');
:root {
    --primary-color: #003459;
    --secondary-color: #00171F;
    --accent1-color: #FFFFFF;
    --accent2-color: #00A7E1;
  
    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Roboto Serif', serif;
  
    --nav-background-color: #003459;
    --nav-link-color: #00171F;
    --nav-hover-link-color: #00A7E1;
    --nav-hover-background-color: #FFFFFF;
    ;
  }

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-link-color);
}
